@import './base.css';

body {
  padding: 20px;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--vt-c-white);
}

button {
  background-color: var(--vt-c-white);
  color: #181818;
  padding: 5px;
}
