@import './base.css';

body {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  color: var(--vt-c-white);
}

button {
  background-color: var(--vt-c-white);
  color: #181818;
  padding: 5px;
}

.left-sidebar-grid {
  display:grid;
  grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'footer';
}

.left-sidebar-grid > * {
  padding:1rem;
}

.left-sidebar-grid > .header {
  grid-area:header;
  background: #18435A;
}

.left-sidebar-grid > .main-content {
  height: 100vh;
  grid-area:main-content;
  background: #13293D;
}

.left-sidebar-grid > .left-sidebar {
  grid-area:left-sidebar;
  background: #16324F;
}

.left-sidebar-grid > .footer {
  grid-area:footer;
  background: #18435A;
}

@media (min-width:768px) {
  .left-sidebar-grid {
    grid-template-columns:repeat(3, 1fr);
    grid-template-areas:
            'header header header'
            'left-sidebar main-content main-content'
            'footer footer footer';
  }
}
